@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* body */
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
}

ul {
  list-style: none;
  padding: 0px;
}

a {
  color: inherit;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

ul,
p,
div,
h1,
h2,
h3 {
  margin: 0;
}

.visually-hidden, .form-user__standart-checkbox {
  position: absolute;
  width: 0px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.no-padding {
  padding-top: 0;
}

img {
  display: block;
  box-sizing: border-box;
  height: auto;
}

.container, .header__container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

/* logo nav */
.logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo__accent {
  color: #2196f3;
}

.logo__main-txt {
  color: #000000;
}

.logo--light-clr .logo__main-txt {
  color: #ffffff;
}

.button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  display: inline-block;
  border: none;
  background-color: #f5f4fa;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 50px;
  cursor: pointer;
  font-family: inherit;
  line-height: 1.6em;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  color: var(--title-text-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button--active {
  color: #ffffff;
  background-color: #2196f3;
}

.button--active:hover,
.button--active:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: scale(1);
  transform-origin: top left;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visiblity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: relative;
  min-height: 581px;
  max-width: 528px;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  border-radius: 4px;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-model-close {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-model-close:hover {
  color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-model-close-icon {
  width: 11px;
  height: 11px;
  margin: auto;
  fill: currentColor;
}

/* Внутрішня розмитка модального вікна */
.form-user {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.form-user__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.form-user__input-label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 28px;
}

.form-user__input {
  padding: 11px 40px;
  margin-top: 0;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-user__input:hover, .form-user__input:focus-visible {
  border: 1px solid #2196f3;
  outline: none;
}

.form-user__input-title {
  position: absolute;
  top: 6px;
  left: 0;
  transform: translateY(-23px);
  padding: 0;
  margin-top: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-user__input-icon {
  position: absolute;
  top: 12px;
  left: 14px;
  fill: currentColor;
  color: #212121;
}
.form-user__input:hover + .form-user__input-icon, .form-user__input:focus-visible + .form-user__input-icon {
  color: #2196f3;
}

.form-user__comment {
  padding: 12px 16px;
  margin-top: 0;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form-user__comment:hover, .form-user__comment:focus-visible {
  border: 1px solid #2196f3;
  outline: none;
}
.form-user__comment::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-user__comment:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-user__comment::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-user__policy-field {
  margin-bottom: 30px;
}

.form-user__agreement-label {
  position: relative;
  padding-left: 40px;
}

.form-user__license-agreement-link {
  margin-left: 0.25rem;
  text-decoration: underline;
  color: #2196f3;
}

.form-user__icon-checkbox--not-checked {
  display: block;
}
.form-user__standart-checkbox:checked ~ .form-user__icon-checkbox--not-checked {
  display: none;
}

.form-user__icon-checkbox--checked {
  display: none;
}
.form-user__standart-checkbox:checked ~ .form-user__icon-checkbox--checked {
  display: block;
}

.checkbox-agrement {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

.user__checkbox-custom {
  position: absolute;
  left: 15px;
  top: 2px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-user__standart-checkbox:checked ~ .user__checkbox-custom {
  background-color: #2196f3;
  border-color: #2196f3;
}

.user__checkbox-icon {
  display: none;
  position: absolute;
  top: 0;
  left: 15px;
  width: 16px;
  height: 15px;
}
.form-user__standart-checkbox:checked ~ .user__checkbox-icon {
  display: block;
}

.button--submit__modal {
  display: block;
  margin: auto;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 52px;
  padding-right: 52px;
  cursor: pointer;
}

/*  svg іконкі для наша команда */
.soc-net-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  height: 44px;
}

.soc-net-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  color: #afb1b8;
  fill: currentColor;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-net-list__link--dark-bg {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-net-list__link:hover,
.soc-net-list__link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.header {
  margin-top: 0;
  margin-bottom: 0;
  background: var(--primary-bg-color);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
}

.site-nav {
  display: flex;
  align-items: center;
}

/* nav */
.site-nav__list {
  display: flex;
  padding: 0;
  margin: 0;
  display: flex;
}

.site-nav__item {
  margin-right: 50px;
}
.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__item {
  position: relative;
  color: #2196f3;
}

.site-nav__link {
  display: inline-block;
  font-style: normal;
  text-decoration: none;
  display: block;
  color: inherit;
  padding: 32px 2px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: #2196f3;
}

.site-nav__link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  transform: translateY(2px);
  border-radius: 2px;
  background-color: #2196f3;
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-list__item:not(:last-child) {
  margin-right: 30px;
}

.contact-list__link {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__link:hover,
.contact-list__link:focus {
  color: #2196f3;
}

.contact-list__icon {
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  fill: currentColor;
}

.logo--site-nav {
  margin-right: 93px;
}

/* hero */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/stydio1.jpg);
  background-size: cover;
  background-position: center;
}

.hero .container, .hero .header__container {
  display: flex;
  height: 100%;
}

.hero .wrapper {
  margin: auto;
  text-align: center;
  border: none;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.34;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

/* studio */
.button-studio {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border: none;
  cursor: pointer;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), bacground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-text {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: #ffffff;
}

.features.section {
  padding-bottom: 47px;
}

.features__list {
  display: flex;
  flex-wrap: nowrap;
}

.features__item {
  width: 270px;
}
.features__item:not(:last-child) {
  margin-right: 30px;
}

/* иконки для  */
.features__item::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-size: 70px contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__item--antenna::before {
  background-image: url(../img/antenna.png);
}

.features__item--clock::before {
  background-image: url(../img/clock.png);
}

.features__item--diagram::before {
  background-image: url(../img/diagram.png);
}

.features__item--austranavt::before {
  background-image: url(../img/astronaut.png);
}

.features__item-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #212121;
}

.features__text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.8;
  color: #757575;
}

.works.section {
  padding-top: 47px;
}

.works__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: #212121;
}

.works__list {
  display: flex;
}

.works__item {
  position: relative;
  width: 370px;
  height: 294px;
}
.works__item:not(:last-child) {
  margin-right: 30px;
}

.works__img {
  display: block;
}

.works__description {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 70px;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.team {
  display: flex;
  background-color: #f5f4fa;
}

.team__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: #212121;
}

.team__list {
  display: flex;
  width: 270px;
  height: 428px;
}

.team__name {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #212121;
}

.team__job {
  margin-top: 10px;
  padding-bottom: 0;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #757575;
}

.team__photo {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 30px;
  width: 270px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__photo:last-child {
  margin-right: 0;
}

.team__soc-net-list {
  margin: 16px 32px 30px 32px;
}

.client {
  display: flex;
  background-color: #ffffff;
}

.client-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.client-list {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 30px;
}

.client-item {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 170px;
  height: 92px;
}

.client-item {
  width: 170px;
  margin-right: 30px;
}

.client-item:not(:last-child) {
  margin-right: o;
}

.client-item:hover {
  fill: #2196f3;
}

.icon {
  padding-top: 16px;
  padding-right: 32px;
  padding-left: 32px;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:hover svg,
.icon:focus svg {
  fill: #2196f3;
}

.icon:hover,
.icon:focus {
  border: 1px solid #2196f3;
}

.footer {
  background-color: #2f303a;
}

.footer__container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__box--adress {
  margin-right: 70px;
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__adr-list {
  font-style: normal;
}

.footer__adr-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__adr-link {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__adr-link--map {
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__adr-link:hover,
.footer__adr-link:focus {
  color: #2196f3;
}

.footer__box--join {
  padding-top: 12px;
  margin-right: 93px;
}

.footer-join__title {
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}

.soc-net-list {
  width: 206px;
  height: 44px;
}

.footer__box--sub-form {
  display: flex;
  align-items: flex-start;
  padding-top: 12px;
  width: 570px;
}

.subscripshion-form__title {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.subscripshion-form__box {
  display: flex;
  align-items: start;
}

.subscripshion-form__input {
  height: 50px;
  width: 358px;
  padding-left: 16px;
  margin-right: 12px;
  margin-bottom: 35px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscripshion-form__input:hover,
.subscripshion-form__input:focus {
  border: 2px solid #2196f3;
}

.subscripshion-form__input:hover,
.subscripshion-form__input:focus {
  font-size: 0;
}

.subscripshion-form__button {
  padding-left: 28px;
  padding-right: 28px;
  min-width: 200px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.subscripshion-form__icon {
  vertical-align: middle;
}

.project {
  display: flex;
  flex-wrap: wrap;
}

.project-list {
  display: list-item;
  margin-right: 30px;
  margin-bottom: 30px;
}

.wrapper {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16); */
}

.project-list a {
  display: block;
}

.project-list a:hover,
.project-list a:focus {
  border-radius: 1px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list:nth-child(3n) {
  margin-right: 0;
}

.project-list:nth-last-child(-n+3) {
  margin-bottom: 0;
}

/* картинки всплыващие */
.menu-link {
  display: block;
  width: 370px;
  transition-duration: 250mc;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submenu {
  position: relative;
  overflow: hidden;
}

.menu-img {
  display: block;
}

.menu-text {
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  top: 0;
  margin: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover .menu-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.menu-link:hover .menu-text {
  transform: translateY(0);
}

.menu-link:focus .menu-text {
  transform: translate(0);
}

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.text-project {
  font-size: 16px;
  line-height: 1.8;
  color: #757575;
}

/* portfolio filter */
.filter__list {
  height: 56px;
  display: flex;
  align-items: center;
  margin-left: 297px;
}

.filter--button {
  padding-left: 22px;
  padding-right: 22px;
  margin-right: 8px;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
}/*# sourceMappingURL=main2.css.map */