.features__container {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}
.features__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.features__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and(min-width: 768px) {
    width: 354px;
    flex-shrink: 0;
    margin: 15px;
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
}
.features__icon-wrapper {
  margin-bottom: 30px;
}
.features__item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-text-clr;
  @media screen and(min-width: 768px) {
    text-align: left;
  }
}
.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-text-clr;
}
.features__icon {
  margin: auto;
  width: 70px;
  height: 70px;
}
.features__icon-wrapper {
  display: flex;
  // margin-top: 30px;
  // margin-top: 30px;
  background-color: #f5f4fa;
  height: 120px;
  border-radius: 4px;
}
