.footer {
  background-color: #2f303a;
}
.footer__container {
  width: 480px;
  height: 608px;
  padding: 60px 15px;
  @media screen and (min-width: 768px) {
    width: 768px;
    height: 463px;
    padding: 60px 89px 60px 76px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    height: 252px;
    padding: 60px 15px;
    white-space: nowrap;
  }
}

.footer__box--adress {
  text-align: center;

  min-width: 232px;
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    display: inline-block;

    margin-right: 160px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 65px;
    text-align: left;
  }
}
.footer__adr-list {
  margin-top: 20px;
  font-style: normal;
}
.footer__adr-item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.footer__adr-link {
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  &:hover,
  &:focus {
    color: $primary-accent-clr;
  }
}
.footer__adr-link--map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-bg-clr;
}
.footer__box--join {
  margin-bottom: 60px;
  margin: auto;
  width: 206px;
  @media screen and (min-width: 768px) {
    display: inline-block;
    vertical-align: top;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 17px;
    margin-right: 85px;
  }
}
.footer-join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.footer__box--sub-form {
  margin-top: 60px;
  @media screen and (min-width: 1200px) {
    display: inline-block;
    width: 570px;
    margin-top: 0;
    vertical-align: top;
    padding-top: 17px;
  }
}
.subscripshion-form__wrapper {
  text-align: center;
}
.subscripshion-form__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  @media screen and (min-width: 1200px) {
    text-align: left;
    padding-left: 5px;
  }
}
.subscripshion-form__input {
  height: 50px;
  width: 450px;
  padding-left: 13px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover::placeholder,
  &:focus::placeholder {
    font-size: 0;
  }
  &:hover,
  &:focus {
    outline: 1px solid $primary-accent-clr;
  }
  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 10px;
  }
}
.subscripshion-form__button {
  padding-left: 28px;
  padding-right: 28px;
  min-width: 200px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.06em;
  color: $primary-bg-clr;
  background-color: $primary-accent-clr;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.subscripshion-form__icon {
  vertical-align: middle;
}
