.project {
  display: flex;
  flex-wrap: wrap;
}

.project-list {
  display: list-item;
  margin-right: 30px;
  margin-bottom: 30px;
}
.wrapper {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16); */
}
.project-list a {
  display: block;
}
.project-list a:hover,
.project-list a:focus {
  border-radius: 1px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list:nth-child(3n) {
  margin-right: 0;
}

.project-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
/* картинки всплыващие */

.menu-link {
  display: block;
  width: 370px;
  transition-duration: 250mc;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.submenu {
  position: relative;
  overflow: hidden;
}
.menu-img {
  display: block;
}
.menu-text {
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  top: 0;
  margin: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: $primary-bg-clr;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover .menu-link:focus {
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
  outline: none;
}

.menu-link:hover .menu-text {
  transform: translateY(0);
}
.menu-link:focus .menu-text {
  transform: translate(0);
}

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $title-text-clr;
}

.text-project {
  font-size: 16px;
  line-height: 1.8;
  color: $primary-text-clr;
}
/* portfolio filter */

.filter__list {
  height: 56px;
  display: flex;
  align-items: center;
  margin-left: 297px;
}

.filter--button {
  padding-left: 22px;
  padding-right: 22px;
  margin-right: 8px;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-clr;
  background: $filter-butonn-clr;
}
