.team {
  text-align: center;
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #f5f4fa;
}
.team__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: $title-text-clr;
}
.team__photo {
  margin-bottom: 30px;
}
.team-box {
  background-color: $primary-bg-clr;
}
.team-box__name {
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-clr;
}
.team-box__job {
  padding-bottom: 16px;
  padding-top: 10px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-clr;
}
.soc-net-list {
  display: flex;
}
.team__soc-net-list {
  align-items: center;
  margin: auto;
  padding-bottom: 24px;
}
