.works {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    padding-top: 47px;
    padding-bottom: 94px;
  }
}
.works__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: $title-text-clr;
}

.works__list {
  display: flex;
}

.works__item {
  position: relative;
  // width: 370px;
  // height: 294px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.works__img {
  display: block;
}

.works__description {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 70px;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: $primary-bg-clr;
}
