.logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-decoration: none;
}
.logo__accent {
  color: $primary-accent-clr;
}
.logo__main-txt {
  color: #000000;
}
.logo__footer-txt {
  color: $primary-bg-clr;
}
