$primary-text-clr: #757575;
$title-text-clr: #212121;
$primary-accent-clr: #2196f3;
$primary-bg-clr: #ffffff;
$light-grey-clr: #afb1b8;
$font-style: normal;
$font-family: Roboto, sans-serif;
$font-size: 14px;
$letter-spacing: 0.03em;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$filter-butonn-clr: #f5f4fa;
